* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    //background-color: #d39e00;
    background-color: #100e19;
    font-family: "Noto Sans", serif;
}

//Код для меню

.menu-img-a {
    width: 80px;
    margin-right: 40px;
}

.under-block-menu {
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #100e23;
    margin-right: 30px;
}

.under-block-menu-ul {
    width: 790px;
}

.menu-ul {
    display: flex;
}

.menu-ul li {
    padding-left: 30px;
    font-size: 16px;
    color: #828187;
}

.menu-ul li a {
    color: #828187;
    font-weight: 600;
}

.menu-ul li a:hover {
    color: #ffffff;
}

.under-block-menu-ul-icons-search {
    margin-right: 30px;
}

.under-block-menu-ul-icons-search i {
    font-size: 15px;
    padding-right: 8px;
}

.under-block-menu-ul-icons-search a {
    font-size: 17px;
    font-weight: 500;
    color: #828187;
}

.under-block-menu-ul-icons-search a:hover {
    color: #ffffff;
}

.under-block-menu-ul-icons-bell i {
    font-size: 18px;
    color: #807977;
}

.under-block-menu-ul-icons-bell i:hover {
    color: #ffffff;
}

.under-block-menu-ul-icons-user {
    margin-left: 35px;
    background-color: #1f1b2e;
    padding: 10px 15px 11px 12px;
    border-radius: 10px;
}

.under-block-menu-ul-icons-user i {
    padding-right: 10px;
    color: #807977;
}

.under-block-menu-ul-icons-user a {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
}

.under-block-menu-ul-icons-user:hover {
    background-color: #312b45;
}

// Код для модального окна

.model-for-menu {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.block-open {
    display: block;
}

.icons-xmark {
    color: #a5a1b2;
    font-size: 30px;
    float: right;
    cursor: pointer;
    margin: 25px 30px 0 0;
}

.block-under-model-menu-value {
    margin: 5% auto;
    width: 65%;
}

.block-model-input-header h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 33px;
}

.input_model {
    width: 820px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    cursor: pointer;
    margin-bottom: 30px;
}

.search-button-input {
    width: 100px;
    border-radius: 10px;
    background-color: #f30745;
    color: #FFFFFF;
    font-size: 15px;
    height: 40px;
    margin-left: 5px;
}

.block-recommendations-about-film-model {
    display: flex;
}

.input-h1-model-1 h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
}

// Код для кнопки слайдера

.my-slider {
    margin-top: 20px;
    position: relative;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    font-size: 0;
    width: 45px;
    height: 60px;
}

.slick-prev {
    left: 12%;
    z-index: 9;
    background: url("/img/free-icon-left.png") 0 0 / 40px no-repeat;
}

.slick-next {
    right: 13.2%;
    background: url("/img/free-icon-right.png") 0 0 / 40px no-repeat;
}

.slider-img {
    border-radius: 25px;
    width: 1200px;
}

.slick-slide {
    opacity: 0.5;
}

.slick-current {
    opacity: 1;
}

.block-dropdown {
    display: flex;
    margin-top: 30px;
}


// Код для кнопки button

.block-button {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.block-button button {
    width: 1170px;
    height: 50px;
    font-size: 16px;
    border-radius: 15px;
    font-weight: 700;
    background-color: #2f1937;
    color: #FFFFFF;
}

.block-button button:hover {
    transform: scale(1.05);
}

//Код для блока фильм

.block-film {
    margin-top: 30px;
    margin-bottom: 30px;
}

.block-header-film-on-the-page-index {
    margin: 0 auto;
    width: 1200px;
}

.block-header-film-on-the-page-index h1 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 23px;
    color: #FFFFFF;
}

.block-header-film-on-the-page-index i {
    padding-left: 10px;
    font-size: 17px;
}

.block-under-film {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.block-window {
    display: none;
    color: #FFFFFF;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 160px;
    height: 248px;
    border-radius: 15px;
}

.film:hover .block-window {
    display: block;
}

.block-h1-title h1 {
    font-size: 20px;
    color: #FFFFFF;
}

.film img {
    width: 160px;
    border-radius: 15px;
}

.title-film {
    padding-top: 9px;
}

.title-film p {
    font-size: 15px;
    color: #d1d6de;
    font-weight: 500;
}

.text-p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #a5a1af;
}

.block-under-window {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.icons-window {
    height: 125px;
}

.icons-window i {
    padding-top: 15px;
    color: #FFFFFF;
}

.block-under-window-1 {
    margin-left: 15px;
}

.block-window-information h1 {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 13px;
}

.block-window-information span {
    font-size: 15px;
    color: #FFFFFF;
    line-height: 18px;
}

.block-window-information h5 {
    margin-top: 10px;
    font-size: 13px;
}

.film:hover {
    transform: scale(1.05);
}

//Код для блок footer

.block-footer {
    display: flex;
    justify-content: center;
}

.under-block-footer {
    display: flex;
    border-top: 1px solid #36353e;
    border-bottom: 1px solid #36353e;
}

.block-for-indentation {
    display: flex;
    margin: 45px 0 45px 0;
}

.block-value-footer-1 {
    width: 310px;
}

.tag-h1 {
    color: #FFFFFF;
    font-size: 17px;
    padding-bottom: 10px;
    font-weight: 500;
}

.block-value-footer-2 {
    width: 300px;
    padding-left: 20px;
}

.block-value-footer-3 {
    width: 300px;
}

.block-value-footer-4 {
    width: 300px;
}

.block-value-footer-1 ul li {
    margin-top: 12px;
    font-weight: 600;
}

.block-value-footer-1 ul li a {
    color: #79747b;
    font-size: 14px;
}

.block-value-footer-1 ul li a:hover {
    color: #FFFFFF;
}

.block-value-footer-2 ul li {
    margin-top: 12px;
    font-weight: 600;
}

.block-value-footer-2 ul li a {
    color: #79747b;
    font-size: 14px;
}

.block-value-footer-2 ul li a:hover {
    color: #FFFFFF;
}

.block-value-footer-3 ul li {
    color: #79747b;
    font-size: 15px;
    font-weight: 500;
    margin-top: 13px;
}

.block-value-footer-3 ul li p {
    line-height: 23px;
}

.block-value-footer-3 ul a {
    color: #FFFFFF;
}

.icons-write {
    display: flex;
    width: 210px;
    height: 40px;
    background-color: #1f1b2e;
    border-radius: 7px;
    justify-content: center;
    padding-top: 11px;
    margin-bottom: 20px;
}

.icons-write:hover {
    background-color: #312b45;
}

.icons-envelope {
    background-color: #1f1b2e;
    padding: 7px 10px 7px 10px;
    border-radius: 7px;
}

.icons-envelope:hover {
    background-color: #312b45;
}

.img-microphone {
    border-radius: 25px;
}

.block-img-footer {
    display: flex;
    justify-content: center;
}

.block-img-footer-p {
    display: flex;
    color: #79747b;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
}

.information-about-site {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin-top: 30px;
    line-height: 23px;
    padding-bottom: 50px;
}

// Код для блока фильма информация

.block-movie-information-film {
    display: flex;
    justify-content: center;
}

.block-under-for-headers-film ul {
    display: flex;
}

.block-under-for-headers-film {
    margin: 20px 0 20px 0;
}

.block-under-for-headers-film ul li {
    padding: 0 7px 0 7px;
    font-weight: 600;
    font-size: 15px;
    color: #bebcb9;
}

.block-under-for-headers-film a {
    font-weight: 600;
    font-size: 15px;
    color: #bebcb9;
    border-bottom: 1px solid #36353e;
}

.block-under-for-headers-film a:hover {
    border-bottom: 1px solid #aabbbb;
}

.block-for-image-film video {
    width: 650px;
    height: 400px;
}

.block-under-movie-information-film-1 {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.block-under-movie-information-film-2 {
    display: flex;
}

.block-for-video-film {
    width: 770px;
}

.block-for-description-film {
    width: 420px;
    //background-color: red;
}

.block-film-h1-description h1 {
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    margin: 25px 0 20px 0;
}

.block-ul-film-information ul a {
    color: #bebdbf;
}

.block-film-information ul {
    display: flex;
    justify-content: center;
    color: #bebdbf;
    line-height: 23px;
    font-weight: 500;
    font-size: 15px;
}

.block-ul-film-information li {
    margin-left: 10px;
}

.block-ul-film-information-2 li {
    margin-left: 10px;
}

.block-ul-film-information-3 li {
    margin-left: 10px;
}

.full-li-film {
    color: #FFFFFF;
    background-color: #39363e;
    padding: 0 5px 1px 5px;
}

.block-under-rating-film {
    display: flex;
    justify-content: center;
    margin: 25px 0 0 17px;
}

.block-rating-value-film {
    display: flex;

}

.block-rating-img-film {
    width: 60px;
    margin: 0 10px 0 10px;
}

.block-rating-img-film img {
    width: 55px;
    background-color: #36353e;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
}

.block-rating-img-film img:hover {
    transform: scale(1.06);
    background-color: #4d4a51;
}

.block-rating-a-film {
    margin-right: 5px;
    width: 65px;
}

.block-rating-a-film p:hover {
    color: #FFFFFF;
}

.block-rating-img-film p {
    padding-top: 6px;
    font-size: 14px;
    text-align: center;
    color: #848285;
}

.block-rating-img-film p:hover {
    color: #FFFFFF;
}

.block-rating-a-film p {
    padding-top: 6px;
    font-size: 14px;
    text-align: center;
    color: #848285;
}

.block-background-color-film {
    width: 60px;
    padding: 5px 5px 5px 5px;
    background-color: #36353e;
    border-radius: 15px;
}

.block-under-background-color-film {
    display: flex;
    justify-content: center;
}

.block-under-background-color-film a {
    background-color: #00a65a;
    padding: 14px 13px 14px 13px;
    border-radius: 15px;
    color: #FFFFFF;
    font-weight: 600;
}

.block-for-favorites-film {
    display: flex;
    margin: 25px 0 0 20px;
}

.block-for-favorites-film-button button {
    border-radius: 10px;
    width: 340px;
    height: 36px;
    font-size: 16px;
    background-color: #26222a;
    color: #c3c1c4;
    font-weight: 600;
}

.block-for-favorites-film-button button:hover {
    transform: scale(1.05);
    background-color: #3c393f;
}

.description-favorites {
    margin-right: 8px;
    font-size: 14px;
}

.block-for-favorites-film-a-i {
    margin-left: 13px;
    background-color: #26222a;
    padding-top: 10px;
    border-radius: 12px;
}

.block-for-favorites-film-a-i:hover {
    transform: scale(1.05);
    background-color: #3c393f;
}

.block-for-favorites-film-a-i a {
    padding: 0 12px 15px 12px;
    font-size: 17px;
    color: #c3c1c4;
}


// Текст описания

.block-description-text-film-1 {
    margin-top: 20px;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    color: #bdbcbb;
    margin-bottom: 10px;
}

.block-description-text-film-2 {
    display: none;
    margin-bottom: 20px;
    border-bottom: 1px solid #37363e;
}

.block-description-open {
    display: block;
}

.button-details-film {
    margin-top: 30px;
    cursor: pointer;
    color: #827f80;
}

.button-details-film:hover {
    color: #FFFFFF;
}

.dont-know-block {
    color: #bdbcbb;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    padding-bottom: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #37363e;
}

.block-language-film {
    margin-bottom: 25px;
}

.block-language-film h1 {
    color: #bdbcbb;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.block-language-film p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.block-subtitles-film {
    margin-bottom: 20px;
}

.block-subtitles-film h1 {
    color: #bdbcbb;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.block-subtitles-film p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.block-setting-explanations-film {
    margin-bottom: 30px;
}

.block-setting-explanations-film p {
    color: #bdbcbb;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.block-setting-explanations-film span {
    color: #FFFFFF;
}


// Код для блок рейтинга

.block-for-estimates-film {
    margin: 20px 0 20px 0;
    background-color: #24222b;
    border-radius: 10px;
}

.block-for-estimates-value-film {
    display: flex;
    padding: 15px 10px 15px 10px;
}

.block-integer-estimates-film {
    margin-right: 20px;
}

.block-integer-estimates-film h1 {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
    background-color: #00a65a;
    width: 64px;
    height: 60px;
    padding: 15px 10px 12px 14px;
    border-radius: 12px;
}

.block-text-estimates-film {
    width: 245px;
}

.block-text-estimates-film h1 {
    color: #FFFFFF;
    font-weight: 600;
    line-height: 24px;
}

.block-text-estimates-film p {
    color: #bdbcbb;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
}

.block-text-estimates-film span {
    color: #bdbcbb;
    font-weight: 600;
    font-size: 13px;
}

.block-button-estimates-film {
    display: flex;
    align-items: center;
}

.block-button-estimates-film button {
    color: #FFFFFF;
    width: 70px;
    height: 22px;
    font-weight: 600;
    border-radius: 8px;
    font-size: 13px;
    background-color: transparent;
    border: 1px solid #37363e;
}

.block-button-estimates-film button:hover {
    transform: scale(1.05);
}

// Код для блока актера

.block-actors-in-information-film {
    margin: 30px 0 45px 0;
}

.block-header-actors-film {
    display: flex;
    justify-content: space-between;
}

.block-actors-and-creators-film h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
}

.block-see-all-actors-film a {
    font-weight: 700;
    font-size: 15px;
    color: #626168;
}

.block-see-all-actors-film a:hover {
    color: #FFFFFF;
}

.block-information-about-actors {
    margin-top: 20px;
    display: flex;
}

.block-actors-img-film {
    margin: 0 18px 0 5px;
}

.block-actors-img-film img {
    width: 87px;
    border-radius: 50px;
    margin-bottom: 8px;
}

.block-actors-img-film:hover {
    transform: scale(1.05);
}

.block-actors-span-film-description-film {
    text-align: center;
    width: 85px;
    margin-bottom: 5px;
}

.block-actors-span-film-description-film span {
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;

}

.block-actors-img-film p {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #626168;
}


.block-includes-film-1 h1 {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
}

.dont-know-what-to-name-the-block-anymore {
    margin-bottom: 30px;
}


// Код для блока комментария

.block-for-writing-comment-see {
    margin-bottom: 30px;
}

.block-for-title-comments-film {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.block-for-title-comments-h1-1 a {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    border-bottom: 1px solid #36353e;
}

.block-for-title-comments-h1-1 a:hover {
    border-bottom: 1px solid #FFFFFF;
}


.under-the-block-comment {
    display: flex;
    gap: 10px;
}

.block-for-title-comments-h1-2 button {
    color: #FFFFFF;
    font-size: 13px;
    width: 130px;
    height: 32px;
    border-radius: 7px;
    border: 1px solid #36353e;
    background-color: transparent;
    padding-bottom: 2px;
}

.block-for-title-comments-h1-2 button:hover {
    transform: scale(1.05);
}

.block-about-p-comment-film {
    color: #9c9ea2;
    font-size: 15px;
    font-weight: 600;
}

.block-comment-text-film {
    margin-top: 20px;
    width: 310px;
    background-color: #1f1b2e;
    padding: 20px 25px 20px 25px;
    border-radius: 18px;
}

.block-comment-text-film:hover {
    background-color: #342f46;
    transform: scale(1.04);
}

.block-name-user-comment-film h1 {
    color: #a5a1b2;
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 15px;
}

.block-text-film {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 20px;
}

.block-datetime-comments-and-like {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.block-datetime-comment p {
    color: #a5a1b2;
    font-weight: 600;
    font-size: 15px;
}

.block-like-comment {
    display: flex;
}

.block-like-comment a {
    color: #a5a1b2;
    margin-left: 10px;
}

.block-like-comment p {
    color: #a5a1b2;
    margin-left: 10px;
    font-weight: 700;
    font-size: 15px;
}


//// Код для блока авторизация

.block-login {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.block-under-login {
    width: 430px;
    border: 1px solid #36353e;
}

.block-header-login h1 {
    color: #FFFFFF;
    font-size: 25px;
    padding: 30px 0 30px 0;
    text-align: center;
    font-weight: bold;
}

.block-login-input {
    padding: 0 20px 35px 25px;
}

.block-login-input-1 {
    margin-bottom: 25px;
}

.block-login-input-1 p {
    color: #828187;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
}

.block-login-input-1 input {
    width: 383px;
    height: 29px;
    outline: none;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 8px;
}

.block-login-input-2 {
    margin-bottom: 15px;
}

.block-login-input-2 p {
    color: #828187;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
}

.block-login-input-2 input {
    width: 383px;
    height: 29px;
    margin-bottom: 20px;
    outline: none;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 8px;
}

.block-login-input-2 a {
    color: #828187;
    font-weight: 600;
    font-size: 15px;
}

.block-login-input-2 a:hover {
    color: #FFFFFF;
}

.class-login-button {
    margin-top: 15px;
    width: 380px;
    height: 30px;
    border-radius: 10px;
}

.error-label {
    color: red;
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
}

/// Код для регистрация

.block-register {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.block-under-register {
    border: 1px solid #36353e;
    width: 450px;
}

.block-header-register h1 {
    color: #FFFFFF;
    font-size: 25px;
    padding: 30px 0 30px 0;
    text-align: center;
}

.block-register-input {
    padding: 0 20px 35px 25px;
}

.block-register-input-1 {
    margin-bottom: 20px;
}

.block-register-input-1 p {
    color: #828187;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}

.block-register-input-1 input {
    width: 400px;
    height: 30px;
    outline: none;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 8px;
}

.tag-back-register {
    color: #828187;
    font-weight: 600;
    font-size: 15px;
}

.tag-back-register:hover {
    color: #FFFFFF;
}

.class-register-button {
    margin-top: 15px;
    width: 400px;
    height: 30px;
    border-radius: 10px;
}

// Код для блока комментарии

.block-under-comment {
    margin: 2% auto;
    width: 570px;
}

.block-comment-header {
    width: 550px;
    padding-bottom: 20px;
    border-bottom: 1px solid #828187;
}

.block-comment-header h1 {
    color: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
}

.block-for-input-comment input {
    margin-top: 30px;
    height: 33px;
    width: 410px;
    border-radius: 11px;
    outline: none;
}

.block-for-input-comment button {
    margin-left: 4px;
    background-color: #f30745;
    color: #FFFFFF;
    width: 110px;
    height: 33px;
    border-radius: 11px
}

.icon-user-comment {
    color: #FFFFFF;
    margin-right: 4px;
    font-size: 18px;
}

.block-written-comments {
    border-bottom: 1px solid #36353e;
    padding-bottom: 20px;
}

.block-name-user-and-like-and-data-comment {
    display: flex;
}

.block-letter-name-user-comment h1 {
    color: #FFFFFF;
    font-size: 11px;
    background-color: #00a65a;
    padding: 5px 8px 5px 8px;
    border-radius: 6px;
}

.block-written-comments {
    margin-top: 30px;
}

.block-user-name-comment-1 {
    display: flex;
    margin-left: 15px;
    width: 470px;
}

.block-user-name-comment-1 p {
    color: #a5a1b1;
    font-size: 15px;
    font-weight: bold;
    margin-right: 13px;
}

.block-user-name-comment-1 h5 {
    color: #a5a1b1;
    font-size: 14px;
}

.block-i-like-comment {
    display: flex;
}

.block-i-like-comment i {
    color: #a5a1b1;
}

.block-i-like-comment i:hover {
    color: #FFFFFF;
}

.block-i-like-comment p {
    color: #a5a1b1;
    padding: 0 8px 0 8px;
    font-size: 15px;
    font-weight: bold;
}

.block-comment-p-dont-know {
    margin-left: 38px;
}

.block-comment-p-dont-know p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}
